
#trattamenti {
    height: fit-content;
    padding-bottom: 50px;

    background-image: url(./pics/studio/hojas.jpg);
    background-color: rgba(255,255,255,0.6);
    background-size: cover;
    background-blend-mode: lighten;
}

.trattamenti-container {
    margin-left: 150px;
    margin-right: 150px;
    justify-content: center;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(350px, 400px));
}

.trattamenti-item {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.img-text {
    background-color: white;
    text-align: center;
    padding: 10px 20px;
}

.trattamenti-text {
    font-weight: 600;
}

@media (max-width: 800px) {

    .title {
        width: 90%;
    }
}