
#profile {
    display: flex;
}

.main-logo {
    position: relative;
    left: 2rem;
    top: 40px;
    width: 50%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    animation: SlideInLeft 0.75s ease;
    z-index: 0;
}

.main-logo p {
    font-size: x-large;
    font-weight: 700;
}

.main-logo p:hover {
    cursor: default;
}

.logo {
    width: 100%;
}

.corner-pic {
    position: relative;
    top: -5px;
    width: 50%;
}

.ribbon {
    width: 100%;
    z-index: 1;
}


@keyframes SlideInLeft {
    from {
        transform: translateX(-1000px);
    }

    to {
        transform: translateX(0);
    }
}

@media (orientation: portrait) {

    #profile {
        flex-direction: column;
        height: fit-content;
    }

    .corner-pic {
        display: none;
    }

    .main-logo {
        width: 100%;
        padding-bottom: 3rem;
        margin-left: -25px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    
        animation: SlideInLeft 0.75s ease;
        z-index: 0;
    }

    .main-logo p {
        font-size: small;
    }
    
}

@media (max-width: 1300px) {

    #profile {
        height: fit-content;
    }
}