
#studio {
    height: fit-content;

    background-image: url(./pics/studio/hojas.jpg);
    background-color: rgba(255,255,255,0.6);
    background-size: cover;
    background-blend-mode: lighten;

    padding: 20px;
}

.studio-container {
    justify-content: center;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4, 260px);
    grid-template-rows: repeat(2, 250px);
    grid-template-areas: 
        "studio-item-1    studio-item-1     studio-item-4     studio-item-4"
        "studio-item-1    studio-item-1     studio-item-2     studio-item-3"
}

.studio-item-1 {
    grid-area: studio-item-1;
}
.studio-item-2 {
    grid-area: studio-item-2;
}
.studio-item-3 {
    grid-area: studio-item-3;
}
.studio-item-4 {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: studio-item-4;
}

.pic {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 1100px) {

    .studio-container {
        grid-template-columns: repeat(2, minmax(50px, 180px));
        grid-template-rows: repeat(4, minmax(50px, 180px));
        grid-template-areas: 
            "studio-item-4    studio-item-4"
            "studio-item-1    studio-item-1"
            "studio-item-1    studio-item-1"
            "studio-item-2    studio-item-3"
    }

    #studio {
        height: fit-content;
        padding-bottom: 50px;

        padding-top: 0px;
    }
}