/* GENERAL */

.root {
    display: contents
}

* {
    margin: 0;
    padding: 0;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    font-family: 'Open Sans', sans-serif;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body::-webkit-scrollbar {
    display: none;
}

p {
    color: rgb(85, 85, 85);
}

/* TITULOS  */

.title-container {
    width: 100%;
    text-align: center;
    padding-bottom: 20px;
}

.title {
    width: 45%;
}

/* LINEAS */

.line-container {
    padding: 50px;
}

.lines {
    width: 100%;
    height: 45px;
    position: relative;
}

.lines::after, .lines::before {
    content: '';
    position: absolute;
    margin: auto;
    height: 2px;
    background: grey;
    width: 45%;
    top: 45%;
}

.lines::after {
    left: 0;
}

.lines::before {
    right: 0;
}

.figure {
    height: 40px;
    width: 40px;
    border: 2px solid grey;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.diamond {
    transform: rotate(45deg);
}

.circle {
    border-radius: 50%;
}

@media (max-width: 768px) {

    .figure {
        height: 20px;
        width: 20px;
    }
    .lines {
        height: 25px;
    }
    .lines::after, .lines::before {
        width: 40%;
    }
}